<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body>
    <h1>Booking Confirmed</h1>
    <p>Thank you, {{ booking.user.username }}! Your booking for {{ booking.event.name }} has been confirmed.</p>
    <p>Event Date: {{ booking.event.date }}</p>
    <p>Booking Date: {{ booking.created_at }}</p> <!-- Use created_at to display booking date -->
    <p>A confirmation email has been sent to: {{booking.email }}</p>

    <a href="{% url 'index' %}">Back to Home</a>
</body>
</html>
